<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="operaciones-mercado">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
      @import url(https://fonts.googleapis.com/css?family=Open+Sans);

      .login {
      position: absolute;
      top: 43%;
      left: 20%;
      right: 1%;
      margin: -150px 0 0 -250px;
      min-width:600px;
      min-height:300px;
      background: rgba(0,68,129,0.8);
      border-radius: 8px;
      box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
      text-align: center;
      }
      #rolDrop{ text-align: center; }


      .tableSpace {width: 100%; text-align:center; padding: 4%;}

      .login h1 {
        color: #fff;
        text-shadow: 0 0 10px rgba(0,0,0,0.3);
        text-align:center;
        padding-top: 5%;
        padding-bottom: 0%;
      }

      .login h2 {
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        text-align:center;
        font-size: 20px;
      }

      .inputDatos {
        text-align: center;
        width: 80%;
        margin-bottom: 10px;
        background: rgba(0,0,0,0.1);
        border: none;
        outline: none;
        padding: 7px 0;
        font-size: 13px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .5s ease;
        -moz-transition: box-shadow .5s ease;
        -o-transition: box-shadow .5s ease;
        -ms-transition: box-shadow .5s ease;
        transition: box-shadow .5s ease;
      }
      .obs{ background-color: red; color:#000; }
      input[name="0"] { background-color  : green; color:#000; }
      input[name="1"],input[name="2"],input[name="4"],input[name="5"] input[name="6"] {
        background-color  : yellow;
        color:#000;
      }
      .BBVA-table { background: #1973B8; color:#FFF; }
      .inputSaldo{
          text-align: center;
          color: 1px 1px 1px rgba(0,0,0,0.3);
          text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
          border: 1px solid rgba(0,0,0,0.3);
          border-radius: 4px;
      }

      </style>
      <div class="login">
        <h1>Compra y Venta de Emisoras</h1>
        <h2>
          <tr>
          </select>
          <a>USUARIO: </a>
          <select name="userDrop" id="userDrop">
            <template is="dom-repeat" items="[[UsersList]]" as ="user">
              <option value="[[user.username]]" on-click="mostrarSaldos">[[user.username]]</option>
            </template>
          </select>
              <th scope="col">  SALDO:  </th>
                <template is="dom-repeat" items="[[SaldoU]]" as ="saldou">
                 <input class="inputSaldo" value="[[saldou.saldo]]" type="number" disabled/>
               </template>
          </tr>
        </h2>
        <div class="tableSpace">
          <table class="table table-hover">
            <thead class="BBVA-table">
              <tr>
                <th scope="col">EMISORA</th>
                <th scope="col">SERIE</th>
                <th scope="col">PRECIO DE COMPRA</th>
                <th scope="col">PRESIO DE VENTA</th>
                <th scope="col">CANTIDAD DE TITULOS</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{MercadoList}}" as="mercado">
                    <tr>
                      <td><input class="inputDatos" placeholder="[[mercado.emisora]]" value="[[mercado.emisora]]" type="text"  disabled/></td>
                      <td><input class="inputDatos" placeholder="[[mercado.serie]]" value="[[mercado.serie]]" type="text"  disabled/></td>
                      <td><input class="inputDatos" placeholder="[[mercado.preciocompra]]" value="[[mercado.preciocompra]]" type="text" disabled/></td>
                      <td><input class="inputDatos" placeholder="[[mercado.precioventa]]" value="[[mercado.precioventa]]" type="text" disabled/></td>
                      <td><input value="" type="number" /></td>
                      <td><button id="confirmarBnt" type="button" class="btn btn-primary btn-block btn-large" on-click="comprarPosicion">COMPRAR</button></td>
                      <td><button id="confirmarBnt" type="button" class="btn btn-danger btn-block btn-large" on-click="venderPosicion">VENDER</button></td>
                    </tr>
                </template>
            </tbody>
          </table>
        </div>
        <div hidden$="[[showRegistros]]">
          <button button id="confirmarBnt" type="button" class="btn btn-outline-info btn-lg" on-click="mostrarDatos">MOSTRAR REGISTROS</button>
        </div>
      </div>
        </div>


      </div>

      <iron-ajax
        id="getMercado"
        content-type="application/json"
        crossDomain: true
        dataType:'jsonp'
        method="GET"
        handle-as="json"
        headers="Acces-Control-Allow-Headers: *"
        accept="*/*"
        on-response="manageAJAXResponseMercado"
        on-error="showErrorMercado">
      </iron-ajax>

      <iron-ajax
        id="getUserList"
        content-type="application/json"
        crossDomain: true
        dataType:'jsonp'
        method="GET"
        handle-as="json"
        headers="Acces-Control-Allow-Headers: *"
        accept="*/*"
        on-response="manageAJAXResponseUser"
        on-error="showErrorUser">
      </iron-ajax>

      <iron-ajax
        id="getSaldo"
        content-type="application/json"
        crossDomain: true
        dataType:'jsonp'
        method="GET"
        handle-as="json"
        headers="Acces-Control-Allow-Headers: *"
        accept="*/*"
        on-response="manageAJAXResponseSaldos"
        on-error="showErrorSaldos">
      </iron-ajax>

      <iron-ajax
        id="getPosicion"
        content-type="application/json"
        crossDomain: true
        dataType:'jsonp'
        method="GET"
        handle-as="json"
        headers="Acces-Control-Allow-Headers: *"
        accept="*/*"
        on-response="manageAJAXResponseGetPosicion"
        on-error="showErrorPosicionGetPosicion">
      </iron-ajax>

</template>
  <script>
    /**
     * @customElement
     * @polymer
     */

    class OperacionesMercado extends Polymer.Element {

      static get is() { return 'operaciones-mercado'; }
      static get properties() {
        return {
          MercadoList: {
            type: Array
          },
          PosicionList: {
            type: Array
          },
          PosicionPorUsuario: {
            type: Array
          },
          UsersList: {
            type: Array
          },
          SaldoU: {
            type: Array
          },
          MovRestantes: {
            type: Number
          },
          showRegistros: {
            type: Boolean,
            value: false
          }
        };
      }
      mostrarDatos(){
        this.$.getUserList.url="http://localhost:3000/userList";
        this.$.getUserList.generateRequest();
        this.$.getMercado.url="http://localhost:3000/mercado";
        this.$.getMercado.generateRequest();
        this.showRegistros = true;
      }

      manageAJAXResponseUser(data) {
        console.info("Cuentas obtenidas correctamente");
        console.info(data.detail.response);
        this.UsersList=data.detail.response;
        console.log(this.UsersList);
      }
      showErrorUser(error) {
        console.error("Se presento un error al cargar Cuentas");
        console.debug(error);
      }

      mostrarSaldos(e){
        var usuarioSaldo = this.shadowRoot.querySelector("#userDrop").value;
        console.log("usuarioSaldo : ",usuarioSaldo);
        this.$.getSaldo.url="http://localhost:3000/saldo/"+usuarioSaldo;
        this.$.getSaldo.generateRequest();

        this.$.getPosicion.url="http://localhost:3000/users/"+usuarioSaldo;
        this.$.getPosicion.generateRequest();

      }
      manageAJAXResponseSaldos(data) {
        console.info("Cuentas obtenidas correctamente");
        this.SaldoU=data.detail.response;
        console.log(this.SaldoU);
      }
      showErrorSaldos(error) {
        console.error("Se presento un error al cargar Cuentas");
        console.debug(error);
      }
      manageAJAXResponseMercado(data) {
        console.info("Cuentas obtenidas correctamente");
        console.info(data.detail.response);
        this.MercadoList=data.detail.response;
        console.log(this.MercadoList);
      }
      showErrorMercado(error) {
        console.error("Se presento un error al cargar Cuentas");
        console.debug(error);
      }
      comprarPosicion(e){
        var usuarioSaldo = this.shadowRoot.querySelector("#userDrop").value;
        console.log("usuarioSaldo : ",usuarioSaldo);
        console.log("Posicion po usuario :  : ",this.PosicionPorUsuario);
      }
      manageAJAXResponseGetPosicion(data) {
        console.info("Cuentas obtenidas correctamente");
        console.log(data.detail.response);
        this.PosicionPorUsuario=data.detail.response;
      }
      showErrorGetPosicion(error) {
        console.error("Se presento un error al cargar Cuentas");
        console.debug(error);
      }

      manageAJAXResponsePosicion(data) {
        console.info("Cuentas obtenidas correctamente");
        console.info(data.detail.response[0].posicion);
        this.PosicionList=data.detail.response[0].posicion;
        console.log(this.PosicionList);
      }
      showErrorPosicion(error) {
        console.error("Se presento un error al cargar Cuentas");
        console.debug(error)
      }

    }
    window.customElements.define(OperacionesMercado.is, OperacionesMercado);
  </script>
</dom-module>
