<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="administracion-usuario">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>

      .login {
      position: absolute;
      top: 43%;
      left: 20%;
      right: 1%;
      margin: -150px 0 0 -250px;
      min-width:600px;
      min-height:300px;
      background: rgba(0,68,129,0.8);
      border-radius: 8px;
      box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
      text-align: center;
      }
      #rolDrop{ text-align: center; }


      .tableSpace {width: 100%; text-align:center; padding: 4%;}

      .login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:px; text-align:center; padding-top: 5%}

      input {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        background: rgba(0,0,0,0.1);
        border: none;
        outline: none;
        padding: 7px 0;
        font-size: 13px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .5s ease;
        -moz-transition: box-shadow .5s ease;
        -o-transition: box-shadow .5s ease;
        -ms-transition: box-shadow .5s ease;
        transition: box-shadow .5s ease;
      }
      .BBVA-table {background: #1973B8; color:#FFF;  }

      </style>

      <div class="login">
        <h1>Administracion de Usuarios</h1>
        <div class="tableSpace">
          <table class="table table-hover">
            <thead class="BBVA-table">
              <tr>
                <th scope="col">USUARIO</th>
                <th scope="col">CORREO</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">ROL</th>
                <th scope="col">ESTATUS</th>
                <td>
                  <select id =rolSelected name="rolDrop">
                    <option value="ROL:" selected >NUEVO ROL:</option>
                    <template is="dom-repeat" items="[[RolList]]">
                      <option value$="[[item.rol]]" >[[item.rol]]</option>
                    </template>
                  </select>
                </td>
                <td>
                  <select id ="statusSelected" name="statusDrop">
                    <option value="ESTATUS:" selected >NUEVO ESTATUS:</option>
                    <template is="dom-repeat" items="[[StatusList]]">
                      <option value$="[[item.status]]">[[item.status]]</option>
                    </template>
                  </select>
                </td>
              </tr>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{UsuariosList}}">
                <tr>
                  <td><input placeholder="[[item.username]]" value="[[item.username]]" type="text" name="usuario" disabled/></td>
                  <td><input placeholder="[[item.email]]" value="[[item.email]]" type="text" name="email" disabled/></td>
                  <td><input placeholder="[[item.nameUser]]" value="[[item.nameUser]]" type="text" name="nameUser" disabled/></td>
                  <td><input placeholder="[[item.rol]]" value="[[item.rol]]" type="text" name="rol" disabled/></td>
                  <td><input placeholder="[[item.status]]" value="[[item.status]]" type="text" name="status" disabled/></td>
                  <td><button id="confirmarBnt" type="button" class="btn btn-primary btn-block btn-large" on-click="updateUser">ACTUALIZAR</button></td>
                  <td><button id="confirmarBnt" type="button" class="btn btn-danger btn-block btn-large" on-click="deleteUser">ELIMINAR</button></td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <div hidden$="[[showRegistros]]">
          <button button id="confirmarBnt" type="button" class="btn btn-outline-info btn-lg" on-click="mostrarRegistros">MOSTRAR REGISTROS</button>
        </div>
      </div>

      <iron-ajax
        id="getUsers"
        url="http://localhost:3000/users"
        content-type="application/json"
        crossDomain: true
        dataType:'jsonp'
        method="GET"
        handle-as="json"
        headers="Acces-Control-Allow-Headers: *"
        accept="*/*"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>

      <iron-ajax
        id="getUser"
        content-type="application/json"
        method="GET"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>

      <iron-ajax
        id="getMenus"
        content-type="application/json"
        method="GET"
        handle-as="json"
        on-response="manageAJAXResponseRoles"
        on-error="showErrorRoles">
      </iron-ajax>

      <iron-ajax
        id="doUpdate"
        content-type="application/json"
        crossDomain: true
        dataType:'jsonp'
        method="POST"
        handle-as="json"
        headers="Acces-Control-Allow-Methods: *"
        accept="*/*"
        on-response="manageAJAXResponseUpdate"
        on-error="showErrorUpdate">
      </iron-ajax>

      <iron-ajax
        id="doDelete"
        content-type="application/json"
        crossDomain: true
        dataType:'jsonp'
        method="POST"
        handle-as="json"
        headers="Acces-Control-Allow-Headers: *"
        accept="*/*"
        on-response="manageAJAXResponseDelete"
        on-error="showErrorDelete">
      </iron-ajax>
</template>
  <script>
    /**
     * @customElement
     * @polymer
     */

    class AdministracionUsuario extends Polymer.Element {

      static get is() { return 'administracion-usuario'; }
      static get properties() {
        return {
          UsuariosList: {
            type: Array
          },
          PosicionList:{
            type: Array
          },
          RolList: {
            type: Array
          },
          StatusList: {
            type: Array
          },
          user: {
            type: String
          },
          password: {
            type: String
          },
          email: {
            type: String,
          },
          rol: {
            type: String
          },
          status: {
            type: String
          },
          isRole: {
            type: Boolean,
            value: false
          },
          isStatus: {
            type: Boolean,
            value: false
          },
          rolstatus: {
            type:String
          },
          showRegistros: {
            type: Boolean,
            value: false
          }

        };
      }
      mostrarRegistros(){
        console.log("administracion-usuario- ROL: "+this.rolstatus);
          //roles
          this.$.getMenus.url = "http://localhost:3000/data/rol";
          this.isRole=true;
          this.showRegistros=true;
          this.$.getMenus.generateRequest();
          //status
          this.$.getMenus.url = "http://localhost:3000/data/status";
          this.$.getMenus.generateRequest();
          //datos de usuario
          if(this.rolstatus=="ADMIN"){
            this.$.getUsers.generateRequest();
          }else{
            this.$.getUser.generateRequest();
          }

      }
      manageAJAXResponse(data) {
        console.info("Usuarios obtenido correctamente");
        console.log(data.detail.response);
        this.UsuariosList=data.detail.response;
      }
      showError(error) {
        console.error("Se presento un error al cargar Usuarios");
        console.debug(error);
      }
      manageAJAXResponseRoles(data) {
        console.info("Menu obtenido correctamente", data);
        console.log(data.detail.response);
        const listSize = data.detail.response.length;
        console.log(listSize);
        if(this.isRole){
          console.log("if(this.isRole)",data.detail.response);
          this.isRole=false;
          this.isStatus=true;
          this.RolList=data.detail.response;

        }else{
          console.log("else",data.detail.response);
          this.StatusList=data.detail.response;
        }
      }
      showErrorRoles(error) {
        console.error("Se presento un error al cargar Menu");
        console.debug(error);
      }
      manageAJAXResponseUpdate(data) {
        console.info("Usuarios Actualizado correctamente");
        alert("Usuario actualizado correctamente")
        this.$.getUsers.generateRequest();
      }
      showErrorUpdate(error) {
        console.error("Se presento un error al Actualizado Usuario");
        console.debug(error);
      }


      updateUser(e){
        var rolSelected = this.shadowRoot.querySelector("#rolSelected").value;
        var statusSelected = this.shadowRoot.querySelector("#statusSelected").value;
        if(rolSelected == "ROL:"||statusSelected == "ESTATUS:"){
          alert("Se debe selecctionar un ROL/ESTATUS valido");
        }else{
        if(confirm("Decea confirmar la modificacion de usuario")){
        var model = e.model.item;
        console.log(model);
        console.log(model.posicion);
        this.PosicionList = model.posicion;
        var posicionActual = [];
        for (var posicion of this.PosicionList) {
          var posicionA = {
            emisora: posicion.emisora,
            serie:posicion.serie,
            precioventa: posicion.precioventa,
            preciocompra: posicion.preciocompra,
            titulos: posicion.titulos
          };
          console.log(posicionA);
          posicionActual.push(posicionA);
        }
        console.log(posicionActual);
        var userUpdate = {"id":model._id,"username":model.username,"password":model.password,"nameUser":model.nameUser,"email":model.email,"rol":rolSelected,"status":statusSelected, "saldo":model.saldo, "posicion":posicionActual};
        console.info("userUpdate {}",userUpdate);
        this.$.doUpdate.url = "http://localhost:3000/users/"+model._id;
        this.$.doUpdate.body=JSON.stringify(userUpdate);
        this.$.doUpdate.generateRequest();
        }
      }
      }
      deleteUser(e){
        var model = e.model.item;
        if(confirm("Desea eliminar usuario "+model.username)){
        var userdelete = model._id;
        this.$.doDelete.url = "http://localhost:3000/users/delete/"+model._id;
        this.$.doDelete.body=JSON.stringify(userdelete);
        this.$.doDelete.generateRequest();
      }
      }
      manageAJAXResponseDelete(data) {
        console.info("Usuarios Elimiando correctamente");
        this.$.getUsers.generateRequest();
      }
      showErrorDelete(error) {
        console.error("Se presento un error al Eliminar Usuario");
        console.debug(error);
      }

    }
    window.customElements.define(AdministracionUsuario.is, AdministracionUsuario);
  </script>
</dom-module>
