<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../registro-exitoso/registro-exitoso.html">

<dom-module id="registro-usuario">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <style>

      .btn-large {
        padding: 9px 5px;
        font-size: 15px;
        line-height: normal;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
      .btn:hover {
        text-decoration: none;
        background-color: #e6e6e6;
        background-position: 0 -15px;
        -webkit-transition: background-position 0s linear;
        -moz-transition: background-position 0s linear;
        -ms-transition: background-position 0s linear;
        -o-transition: background-position 0s linear;
        transition: background-position 0s linear;
      }
      .btn-primary, .btn-primary:hover .btn-secondary , .btn-secondary:hover{
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        color: #ffffff;
      }

      .btn-primary {
        background-color: #49A5E6;
        background-image: -moz-linear-gradient(top, #49A5E6, #4a77d4);
        background-image: -ms-linear-gradient(top, #49A5E6, #4a77d4);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#49A5E6), to(#4a77d4));
        background-image: -webkit-linear-gradient(top, #49A5E6, #4a77d4);
        background-image: -o-linear-gradient(top, #49A5E6, #4a77d4);
        background-image: linear-gradient(top, #49A5E6, #4a77d4);
        background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#49A5E6, endColorstr=#4a77d4, GradientType=0);
        border: 1px solid #3762bc;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
      }
      .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
        filter: none;
        background-color: #4a77d4;
      }
      .btn-secondary {
        background-color: #5BBEFF;
        border: 1px solid #5BBEFF;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
      }
      .btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled] {
        filter: none;
        background-color: #49A5E6;
      }
      .btn-block { width: 25%; display:inline; margin-left: 10px; }
      .buttons { position: absolute; width: 100%; text-align: center; padding-top: 10px; }

      .login {
      position: absolute;
      top: 43%;
      left: 20%;
      right: 1%;
      margin: -150px 0 0 -250px;
      min-width:600px;
      min-height:300px;
      background: rgba(62,110,197,0.8);
      border-radius: 8px;
      box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
      text-align: center;
      }

      .login h1 {
        color: #fff;
        text-shadow: 0 0 10px rgba(0,0,0,0.3);
        letter-spacing:px;
        text-align:center;
      }

      input {
      width: 50%;
      margin-bottom: 10px;
      background: rgba(0,0,0,0.3);
      border: none;
      outline: none;
      padding: 10px;
      font-size: 13px;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
      border: 1px solid rgba(0,0,0,0.3);
      border-radius: 4px;
      box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
      -webkit-transition: box-shadow .5s ease;
      -moz-transition: box-shadow .5s ease;
      -o-transition: box-shadow .5s ease;
      -ms-transition: box-shadow .5s ease;
      transition: box-shadow .5s ease;
      }

      .tableSpace {width: 100%; text-align:center; padding: 4%;}

      .BBVA-table {background: rgba(81,173,253,0.8); color:#FFF; }

      </style>

      <div class="login" hidden$=[[registro]]>
        <div class="tableSpace">
          <table>
            <h1>Registro de Usuario</h1>
            <thead class="BBVA-table">
              <div>
                <input value="{{user::input}}" type="text" maxlength="8" name="Usuario" placeholder="MB / XM" required pattern="([XMB]{1,2}[0-9]{5,6})" style="text-transform:uppercase;" autocomplete="off" minlenght="7" size="7">
              </div>
              <div >
                <input value="{{password::input}}" type="password" name="Contrasenia" placeholder="Contraseña" required="required" />
              </div>
          	  <div>
          	    <input value="{{email::input}}" type="email" name="Correo" placeholder="@bbva" required="required" />
          	  </div>
              <div>
                <input value="{{username::input}}" type="text" name="Nombre" placeholder="Nombre completo" required="required" />
              </div>
            <div>
              <button type="button" class="btn btn-primary btn-block " on-click="imprimeRegistro">Enviar</button>
            </div>
            </thead>
          </table>
        </div>
      </div>

      <iron-ajax
        id="doLogin"
        url="http://localhost:3000/signUp"
        content-type="application/json"
        crossDomain: true
        dataType:'jsonp'
        method="POST"
        handle-as="json"
        headers="Acces-Control-Allow-Headers: *"
        accept="*/*"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistroUsuario extends Polymer.Element {
      static get is() { return 'registro-usuario'; }
      static get properties() {
        return {
          user: {
            type: String,
          },
          password: {
            type: String,
          },
          email: {
            type: String,
          },
          userName: {
            type: String,
          },
          logeado: {
            type: Boolean,
            value: true
          },
          registro: {
            type: Boolean,
            value: false
          }

        };
      }
      imprimeRegistro(data){
        this.password= CryptoJS.SHA256(this.password).toString();
        var registroData={"username":this.user, "password":this.password, "email":this.email, "nameUser":this.username, "status":"DISABLE", "rol":"DISABLE"};
        const patternEmailValidator = /\S+@bbva.com/;
        if(this.user==null){
          return alert("USER vacio");
        }else if(this.password==null){
          return alert("PASSWORD vacio");
        }else if(this.email==null){
          return alert("EMAIL vacio");
        }else if(this.username==null){
          return alert("USERNAME vacio");
        }
        if(!patternEmailValidator.test(this.email)){
          this.password=null;
          return alert("El formato no es correcto, Ejm: micorreo@bbva.com");

        }
        this.$.doLogin.body=JSON.stringify(registroData);
        this.$.doLogin.generateRequest();

      }
      manageAJAXResponse(data) {
        console.info("Usuario registrado con exito");
        console.debug(data.detail.response);
        this.user=null
        this.password=null
        this.email=null
        this.username=null
        this.logeado=true;
        this.registro=false;
      }
      showError(error) {
        console.error("Se presento un error al insertar usuario");
        if(error.detail.request.status===409){
          alert("Usuario: "+this.user+" ya se encuentra registrado");
        }else {
            alert("Datos incorrectos");
        }
        this.user="";
        this.password="";
        this.email="";
        this.userName="";
      }
    }

    window.customElements.define(RegistroUsuario.is, RegistroUsuario);
  </script>
</dom-module>
