<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../registro-usuario/registro-usuario.html">
<link rel="import" href="../administracion-usuario/administracion-usuario.html">
<link rel="import" href="../operaciones-mercado/operaciones-mercado.html">
<link rel="import" href="../posicion-usuarios/posicion-usuarios.html">
<link rel="import" href="../carga-saldo/carga-saldo.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script type="text/javascript" src="../../bower_components/crypto-js/crypto-js.js"></script>


<dom-module id="proyecto-am-app">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
      .btn-large-login { padding: 9px 5px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px;
        border-radius: 5px;
      }
      .btn-login:hover {
        text-decoration: none;
        background-color: #e6e6e6;
        background-position: 0 -15px;
        -webkit-transition: background-position 0s linear;
        -moz-transition: background-position 0s linear;
        -ms-transition: background-position 0s linear;
        -o-transition: background-position 0s linear;
        transition: background-position 0s linear;
      }

      .btn-primary-login, .btn-primary-login:hover .btn-secondary-login , .btn-secondary-login:hover{
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        color: #ffffff;
      }

      .btn-primary-login {
        background-color: #49A5E6;
        background-image: -moz-linear-gradient(top, #49A5E6, #4a77d4);
        background-image: -ms-linear-gradient(top, #49A5E6, #4a77d4);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#49A5E6), to(#4a77d4));
        background-image: -webkit-linear-gradient(top, #49A5E6, #4a77d4);
        background-image: -o-linear-gradient(top, #49A5E6, #4a77d4);
        background-image: linear-gradient(top, #49A5E6, #4a77d4);
        background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#49A5E6, endColorstr=#4a77d4, GradientType=0);
        border: 1px solid #3762bc;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
      }
      .btn-primary-login:hover, .btn-primary-login:active, .btn-primary-login.active, .btn-primary-login.disabled, .btn-primary-login[disabled] {
        filter: none;
        background-color: #4a77d4;
      }
      .btn-secondary-login {
        background-color: #5BBEFF;
        border: 1px solid #5BBEFF;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
      }
      .btn-secondary-login:hover, .btn-secondary-login:active, .btn-secondary-login.active, .btn-secondary-login.disabled, .btn-secondary-login[disabled] {
        filter: none;
        background-color: #49A5E6;
      }
      .btn-block-login { width: 25%; display:inline; margin-left: 10px; }

      .buttons { position: absolute; width: 100%; text-align: center; padding-top: 10px; }

      .login {
      position: absolute;
      top: 40%;
      left: 50%;
      margin: -150px 0 0 -250px;
      min-width:500px;
      height:300px;
      background: rgba(0,68,129,0.8);
      border-radius: 8px;
      box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
      text-align: center;
      }
      .login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; padding-top: 10px;}
      .menu h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center;}
      .formlogin input {
      width: 50%;
      margin-bottom: 10px;
      background: rgba(0,0,0,0.3);
      border: none;
      outline: none;
      padding: 10px;
      font-size: 13px;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
      border: 1px solid rgba(0,0,0,0.3);
      border-radius: 4px;
      box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
      -webkit-transition: box-shadow .5s ease;
      -moz-transition: box-shadow .5s ease;
      -o-transition: box-shadow .5s ease;
      -ms-transition: box-shadow .5s ease;
      transition: box-shadow .5s ease;
      }

      .menu button[value="0"]{
        background-color: #BDBDBD
        background-image: -moz-linear-gradient(top, #D3D3D3, #BDBDBD);
        background-image: -ms-linear-gradient(top, #D3D3D3, #BDBDBD);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D3D3D3), to(#BDBDBD));
        background-image: -webkit-linear-gradient(top, #D3D3D3, #BDBDBD);
        background-image: -o-linear-gradient(top, #D3D3D3, #BDBDBD);
        background-image: linear-gradient(top, #D3D3D3, #BDBDBD);
        background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#D3D3D3, endColorstr=#BDBDBD, GradientType=0);
        border: 1px solid #BDBDBD;
        color: #121212;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
      }
      .menu button[value="0"]:hover{filter: none; background-color: #BDBDBD; }
      .menu button[value="1"]{
        background-color: #028484
        background-image: -moz-linear-gradient(top, #02A5A5, #028484);
        background-image: -ms-linear-gradient(top, #02A5A5, #028484);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#02A5A5), to(#028484));
        background-image: -webkit-linear-gradient(top, #02A5A5, #028484);
        background-image: -o-linear-gradient(top, #02A5A5, #028484);
        background-image: linear-gradient(top, #02A5A5, #028484);
        background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#02A5A5, endColorstr=#028484, GradientType=0);
        border: 1px solid #028484;
        color: #FFF;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
      }
      .menu button[value="1"]:hover{ filter: none; background-color: #028484; }
      .menu{
        padding-top: 10px;
        padding-left: 20px;
        width: 100%;
        min-height: 80px;
        background: rgba(0,68,129,0.8);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
      }
      .navigator{ display: inline-block; vertical-align: top; width: 60% }
      .signout{ display: inline-block;   vertical-align: top; padding-left: 20%; width: 30% }


      </style>
      <div class="menu">
        <div class="navigator">
          <img src="../../src/img/BBVA_WHITE.png" width="90" style="margin-right: 20px;">
          <button type="button" value="[[isRegistro]]" hidden$="[[mRegistro]]" class="btn-login btn-large-login" on-click="showRegistUsuarios">Registro de Usuarios</button>
          <button type="button" value="[[isUsuarios]]" hidden$="[[mUsuarios]]" class="btn-login btn-large-login" on-click="showValidUsuarios">Gestion de Usuarios</button>
          <button type="button" value="[[isVisor]]" hidden$="[[mVisor]]" class="btn-login btn-large-login" on-click="showVisorCuentas">Movimientos</button>
          <button type="button" value="[[isResultados]]" hidden$="[[mResultados]]" class="btn-login btn-large-login" on-click="showVisorResultados">Posicion</button>
          <button type="button" value="[[isSaldos]]" hidden$="[[mSaldos]]" class="btn-login btn-large-login" on-click="showSaldos">Carga Saldos</button>
        </div>
        <h1 class"inicio" hidden$="[[isMenu]]"></h1>
        <div class="signout">
          <button hidden$="[[!isLogin]]" type="button" class="btn btn-outline-danger" onclick="window.location.reload();">Cerrar Sesion</button>
        </div>
      </div>

      <div class="login" hidden$="[[loginHidde]]">
      	<h1>Login</h1>
          <form class="formlogin">
          	<input value="{{username::input}}" type="text" name="username" placeholder="MB / XM" required pattern="([XMB]{1,2}[0-9]{5,6})" style="text-transform:uppercase;" required="required"/>
            <input type="password" name="Contrasenia" placeholder="Contraseña" required="required" value="{{password::input}}"/>
            <div class="buttons">
              <button type="button" class="btn-login btn-primary-login btn-block-login btn-large-login" on-click="executeLogin">Ingresar</button>
              <button type="button" class="btn-login btn-secondary-login btn-block-login btn-large-login" on-click="showRegistry">Registrar</button>
            </div>
          </form>
      </div>
      <registro-usuario strmain="[[rolStatus]]" idStatus="[[idStatus]]" hidden$="[[hiddeWebCompRegistro]]"></registro-usuario>
      <operaciones-mercado hidden$="[[hiddeWebCompVisorCuent]]"></operaciones-mercado>
      <posicion-usuarios rolstatus="[[rolUser]]" iduser="[[idUser]]" idStatus="[[idStatus]]" hidden$="[[hiddeWebCompResultados]]"></posicion-usuarios>
      <administracion-usuario rolstatus="[[rolUser]]" iduser="[[idUser]]" idStatus="[[idStatus]]" hidden$="[[hiddeWebCompValidador]]"></administracion-usuario>
      <carga-saldo rolstatus="[[rolUser]]" iduser="[[idUser]]" idStatus="[[idStatus]]" hidden$="[[hiddeWebCargaSaldo]]"></carga-saldo>
        <iron-ajax
          id="doLogin"
          url="http://localhost:3000/logIn"
          content-type="application/json"
          crossDomain: true
          dataType:'jsonp'
          method="POST"
          handle-as="json"
          headers="Acces-Control-Allow-Headers: *"
          accept="*/*"
          on-response="manageAJAXResponse"
          on-error="showError">
        </iron-ajax>

  </template>

  <script>

    class ProyectoFinalMA extends Polymer.Element {
      static get is() { return 'proyecto-am-app'; }
      static get properties() {
        return {
          username: {
            type: String,
          },
          password: {
            type: String,
          },
          loginHidde: {
            type: Boolean,
            value: false
          },
          rolUser: {
            type: String,
            notify:true
          },
          idUser:{
            type:String,
            notify:true
          },
          idStatus:{
            type:String,
            notify:true
          },
          isLogin: {
            type: Boolean,
            value: false
          },
          isMenu: {
            type: Boolean,
            value: false
          },
          mLogin:{
            type: Boolean,
            value: true
          },
          mRegistro:{
            type: Boolean,
            value: true
          },
          mVisor:{
            type: Boolean,
            value: true
          },
          mResultados:{
            type: Boolean,
            value: true
          },
          mSaldos:{
            type: Boolean,
            value: true
          },
          mUsuarios:{
            type: Boolean,
            value: true
          },
          isRegistro: {
            type: Number,
            value: 0
          },
          isUsuarios: {
            type: Number,
            value: 0
          },
          isVisor: {
            type: Number,
            value: 0
          },
          isResultados: {
            type: Number,
            value: 0
          },
          isSaldos: {
            type: Number,
            value: 0
          },
          hiddeWebCompResultados:{
            type: Boolean,
            value: true
          },
          hiddeWebCompValidador: {
            type: Boolean,
            value: true
          },
          hiddeWebCargaSaldo: {
            type: Boolean,
            value: true
          },
          hiddeWebCompRegistro: {
            type: Boolean,
            value: true
          },
          hiddeWebCompVisorCuent:{
            type: Boolean,
            value: true
          }
        };
      }
      executeLogin(){
        this.password= CryptoJS.SHA256(this.password).toString();
        console.debug("Usuario:"+this.username+" Contraseña:"+this.password);
        var registroData={"username":this.username, "password":this.password};
        var Jsn = JSON.stringify(registroData);
        console.debug("Jsn:"+ JSON.stringify(registroData));
        this.$.doLogin.body=JSON.stringify(registroData);
        this.$.doLogin.generateRequest();
      }

      showRegistry(){
        this.loginHidde = true;
        this.hiddeWebCompRegistro = false;
        this.mlogin = true;
        this.mRegistro = false;
        this.isRegistro = 1;
        this.isMenu = true;
      }

      manageAJAXResponse(data) {
        console.info(data);
        console.info("Respuesta recibida del servidor OK");
        this.isMenu = true;
        this.loginHidde = true;
        console.info(data.detail.response);
        this.rolUser=data.detail.response.rol;
        console.info(this.rolUser);
        this.idUser=data.detail.response.id;
        console.info(this.idUser);
        this.idStatus=data.detail.response.status;
        console.info(this.idStatus);
        this.isLogin=true;
        switch (this.rolUser) {
          case "ADMIN":
            console.debug("ROL: "+this.rolUser);
            this.hiddeWebCompValidador = false;
            console.debug("hiddeWebCompValidador: "+this.hiddeWebCompValidador);
            this.mlogin = true;
            this.mVisor = false;
            this.mResultados = false;
            this.mRegistro = false;
            this.mUsuarios = false;
            this.mSaldos = false;
            this.isUsuarios = 1 ;
            this.isVisor = 1;
            this.isResultados = 1;
            this.isRegistro = 1;
            this.isSaldos = 1;
            break;
          case "VISOR":
            console.debug("ROL: "+this.rolUser);
            this.hiddeWebCompVisorCuent=false;

            this.mlogin = true;
            this.mUsuarios = true;
            this.mSaldos = true;
            this.mRegistro = true;

            this.mVisor = false;
            this.mResultados = false;

            this.isUsuarios = 0 ;
            this.isSaldos = 0;
            this.isRegistro = 0;

            this.isVisor = 1;
            this.isResultados = 1;


            break;
          case "GESTOR":
            console.debug("ROL: "+this.rolUser);
            this.hiddeWebCompResultados = false;
            this.mlogin = true;

            this.mRegistro = true;
            this.mUsuarios = true;

            this.mSaldos = false;
            this.mVisor = false;
            this.mResultados = false;

            this.isUsuarios = 0 ;
            this.isRegistro = 0;

            this.isVisor = 1;
            this.isSaldos = 1;
            this.isResultados = 1;

            break;
          default:
            alert("Para poder entrar al sistema, El administrador debe otrogarte premisos");

            break;
        }
      }
      showError(error) {
        console.info("Error al consultar BD");
        alert("Datos incorrectos");
        console.error(error);
      }
      showVisorResultados(){
        this.hiddeWebCompRegistro = true;
        this.hiddeWebCompValidador = true;
        this.hiddeWebCargaSaldo = true;
        this.hiddeWebCompResultados = false;
        this.hiddeWebCompVisorCuent = true;
        this.isRegistro = 0;
        this.isUsuarios = 0;
        this.isVisor = 0;
        this.isResultados = 1;
        this.isSaldos = 0;

      }
      showRegistUsuarios(){
        this.hiddeWebCompRegistro = false;
        this.hiddeWebCompValidador = true;
        this.hiddeWebCompResultados = true;
        this.hiddeWebCompVisorCuent = true;
        this.hiddeWebCargaSaldo = true;

        this.loginHidde=true;
        this.isMenu=true;
        this.mRegistro=false;

        this.isRegistro = 1;
        this.isUsuarios = 0;
        this.isVisor = 0;
        this.isResultados = 0;
        this.isSaldos = 0;
      }
      showValidUsuarios(){
        this.hiddeWebCompRegistro = true;
        this.hiddeWebCompValidador = false;
        this.hiddeWebCompResultados = true;
        this.hiddeWebCompVisorCuent = true;
        this.hiddeWebCargaSaldo = true;

        this.isRegistro = 0;
        this.isUsuarios = 1;
        this.isVisor = 0;
        this.isResultados = 0;
        this.isSaldos = 0;
      }
      showVisorCuentas(){
        this.hiddeWebCompRegistro = true;
        this.hiddeWebCompValidador = true;
        this.hiddeWebCompResultados = true;
        this.hiddeWebCompVisorCuent = false;
        this.hiddeWebCargaSaldo = true;

        this.isRegistro = 0;
        this.isUsuarios = 0;
        this.isVisor = 1;
        this.isResultados = 0;
        this.isSaldos = 0;
      }
      showSaldos(){
        this.hiddeWebCompRegistro = true;
        this.hiddeWebCompValidador = true;
        this.hiddeWebCompResultados = true;
        this.hiddeWebCompVisorCuent = true;
        this.hiddeWebCargaSaldo = false;

        this.isRegistro = 0;
        this.isUsuarios = 0;
        this.isVisor = 0;
        this.isResultados = 0;
        this.isSaldos = 1;
      }

    }
window.customElements.define(ProyectoFinalMA.is, ProyectoFinalMA);
  </script>
</dom-module>
