<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="carga-saldo">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>

    .login {
    position: absolute;
    top: 43%;
    left: 20%;
    right: 1%;
    margin: -150px 0 0 -250px;
    min-width:600px;
    min-height:300px;
    background: rgba(0,68,129,0.8);
    border-radius: 8px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    text-align: center;
    }
    #rolDrop{ text-align: center; }


      .tableSpace {width: 100%; text-align:center; padding: 4%;}

      .login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:px; text-align:center; padding-top: 5%}

      input {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        background: rgba(0,0,0,0.1);
        border: none;
        outline: none;
        padding: 7px 0;
        font-size: 13px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .5s ease;
        -moz-transition: box-shadow .5s ease;
        -o-transition: box-shadow .5s ease;
        -ms-transition: box-shadow .5s ease;
        transition: box-shadow .5s ease;
      }
    .BBVA-table { background: #1973B8; color:#FFF; }

      </style>

      <div class="login">
        <h1>Carga de saldos</h1>
        <div class="tableSpace">
          <table class="table table-hover">
            <thead class="BBVA-table">
              <tr>
                <th scope="col">USUARIO</th>
                <th scope="col">ESTATUS</th>
                <th scope="col">SALDO</th>
                <th scope="col">MONTO DE RECARGA</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{UsuariosList}}">
                <tr>
                  <td><input placeholder="[[item.username]]" value="[[item.username]]" type="text" name="usuario" disabled/></td>
                  <td><input placeholder="[[item.status]]" value="[[item.status]]" type="text" name="status" disabled/></td>
                  <td><input placeholder="[[item.saldo]]" value="[[item.saldo]]" type="number" name="saldo" disabled/></td>
                  <td><input id = "saldoRecarga" value="{{saldoRecarga}}" type="number" name="saldo"/></td>
                  <td><button id="confirmarBnt" type="button" class="btn btn-primary btn-block btn-large" on-click="updateUser">RECARGAR</button></td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <div hidden$="[[showRegistros]]">
          <button button id="confirmarBnt" type="button" class="btn btn-primary btn-block btn-large" on-click="mostrarRegistros">MOSTRAR REGISTROS</button>
        </div>
      </div>

      <iron-ajax
        id="getUsers"
        url="http://localhost:3000/users"
        content-type="application/json"
        crossDomain: true
        dataType:'jsonp'
        method="GET"
        handle-as="json"
        headers="Acces-Control-Allow-Headers: *"
        accept="*/*"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>

      <iron-ajax
        id="getUser"
        content-type="application/json"
        method="GET"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>

      <iron-ajax
        id="getMenus"
        content-type="application/json"
        method="GET"
        handle-as="json"
        on-response="manageAJAXResponseRoles"
        on-error="showErrorRoles">
      </iron-ajax>

      <iron-ajax
        id="doUpdate"
        content-type="application/json"
        crossDomain: true
        dataType:'jsonp'
        method="POST"
        handle-as="json"
        headers="Acces-Control-Allow-Methods: *"
        accept="*/*"
        on-response="manageAJAXResponseUpdate"
        on-error="showErrorUpdate">
      </iron-ajax>

</template>
  <script>
    /**
     * @customElement
     * @polymer
     */

    class CargaSaldo extends Polymer.Element {

      static get is() { return 'carga-saldo'; }
      static get properties() {
        return {
          UsuariosList: {
            type: Array
          },
          RolList: {
            type: Array
          },
          StatusList: {
            type: Array
          },
          user: {
            type: String
          },
          password: {
            type: String
          },
          email: {
            type: String,
          },
          rol: {
            type: String
          },
          status: {
            type: String
          },
          saldo: {
            type: Number
          },
          saldoRecarga: {
            type: Number,
          },
          rolstatus: {
            type:String
          },
          showRegistros: {
            type: Boolean,
            value: false
          }

        };
      }
      mostrarRegistros(){
        console.log("carga-saldo- status: "+this.rolstatus);
        //status
        this.$.getMenus.url = "http://localhost:3000/data/status";
        this.$.getMenus.generateRequest();
        if(this.rolstatus=="ADMIN"){
          this.$.getUsers.generateRequest();
        }else{
          this.$.getUser.generateRequest();
        }

      }
      manageAJAXResponse(data) {
        console.info("Usuarios obtenido correctamente");
        console.log(data.detail.response);
        this.UsuariosList=data.detail.response;
      }
      showError(error) {
        console.error("Se presento un error al cargar Usuarios");
        console.debug(error);
      }
      manageAJAXResponseRoles(data) {
        console.info("Menu obtenido correctamente", data);
        console.log(data.detail.response);
        const listSize = data.detail.response.length;
        console.log(listSize);
        console.log("else",data.detail.response);
        this.StatusList=data.detail.response;
      }
      showErrorRoles(error) {
        console.error("Se presento un error al cargar Menu");
        console.debug(error);
      }

      updateUser(e){
        var model = e.model.item;
        var saldoRecarga = this.shadowRoot.querySelector("#saldoRecarga").value;
        saldoRecarga = Number(saldoRecarga);
        console.info("saldoRecarga : ",saldoRecarga);
        var saldoInicial;
        console.info("e.model.item : ",e.model.item);
        if(model.saldo === undefined || model.saldo ==null){
          saldoInicial = 0;
        }else{
          saldoInicial = model.saldo
        }
        saldoInicial = Number(saldoInicial);
        console.info("saldoInicial : ",saldoInicial);
        var saldoFinal = saldoInicial + saldoRecarga;
        console.info("saldoFinal : ",saldoFinal);''
        if(confirm("Aumentar saldo en :"+saldoRecarga+ "Saldo total = "+saldoFinal)){
        var userUpdate = {"id":model._id,"username":model.username,"password":model.password,"nameUser":model.nameUser,"email":model.email,"rol":model.rol ,"status":model.status, "saldo":saldoFinal};
        console.info("userUpdate {}",userUpdate);
        this.$.doUpdate.url = "http://localhost:3000/users/"+model._id;
        this.$.doUpdate.body=JSON.stringify(userUpdate);
        this.$.doUpdate.generateRequest();
        }
      }

      manageAJAXResponseUpdate(data) {
        console.info("Saldo Actualizado correctamente");
        alert("Usuario actualizado correctamente")
        this.saldoRecarga = null;
        this.$.getUsers.generateRequest();
      }

      showErrorUpdate(error) {
        console.error("Se presento un error al Actualizado Saldo");
        console.debug(error);
      }

    }
    window.customElements.define(CargaSaldo.is, CargaSaldo);
  </script>
</dom-module>
